# **Penting**
- Jangan mengubah atau menambahkan cell text yang sudah disediakan, Anda hanya perlu mengerjakan cell code yang sudah disediakan.
- Pastikan seluruh kriteria memiliki output yang sesuai, karena jika tidak ada output dianggap tidak selesai.
- Misal, Anda menggunakan df = df.dropna() silakan gunakan df.isnull().sum() sebagai tanda sudah berhasil. Silakan sesuaikan seluruh output dengan perintah yang sudah disediakan.
- Pastikan Anda melakukan Run All sebelum mengirimkan submission untuk memastikan seluruh cell berjalan dengan baik.
- Pastikan Anda menggunakan variabel df dari awal sampai akhir dan tidak diperbolehkan mengganti nama variabel tersebut.
- Hapus simbol pagar (#) pada kode yang bertipe komentar jika Anda menerapkan kriteria tambahan
- Biarkan simbol pagar (#) jika Anda tidak menerapkan kriteria tambahan
- Pastikan Anda mengerjakan sesuai section yang sudah diberikan tanpa mengubah judul atau header yang disediakan.

# **1. Import Library**
Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [3]:
#Type your code here
import pandas as pd
import numpy as np
import joblib
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

# **2. Memuat Dataset dari Hasil Clustering**
Memuat dataset hasil clustering dari file CSV ke dalam variabel DataFrame.

In [4]:
# Gunakan dataset hasil clustering yang memiliki fitur Target
# Silakan gunakan dataset data_clustering jika tidak menerapkan Interpretasi Hasil Clustering [Advanced]
# Silakan gunakan dataset data_clustering_inverse jika menerapkan Interpretasi Hasil Clustering [Advanced]
df = pd.read_csv('data_clustering_inverse.csv')

In [5]:
# Tampilkan 5 baris pertama dengan function head.
df.head(50)

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,AgeGroup,Target
0,TX000001,AC00128,14.09,2023-04-11 16:29:14,Debit,San Diego,D000380,162.198.218.92,M015,ATM,Doctor,81.0,1.0,5112.21,2024-11-04 08:08:08,Senior,0
1,TX000002,AC00455,376.24,2023-06-27 16:44:19,Debit,Houston,D000051,13.149.61.4,M052,ATM,Doctor,141.0,1.0,13758.91,2024-11-04 08:09:35,Senior,1
2,TX000003,AC00019,126.29,2023-07-10 18:16:08,Debit,Mesa,D000235,215.97.143.157,M009,Online,Student,56.0,1.0,1122.35,2024-11-04 08:07:04,Young Adult,3
3,TX000004,AC00070,184.50,2023-05-05 16:32:11,Debit,Raleigh,D000187,200.13.225.150,M002,Online,Student,25.0,1.0,8569.06,2024-11-04 08:09:06,Young Adult,3
4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,Online,Student,198.0,1.0,7429.40,2024-11-04 08:06:39,NaN,4
5,TX000006,AC00393,92.15,2023-04-03 17:15:01,Debit,Oklahoma City,D000579,117.67.192.211,M054,ATM,Student,172.0,1.0,781.68,2024-11-04 08:06:36,Young Adult,3
6,TX000007,AC00199,7.08,2023-02-15 16:36:48,Credit,Seattle,D000241,140.212.253.222,M019,ATM,Doctor,139.0,1.0,13316.71,2024-11-04 08:10:09,Middle-Aged,3
7,TX000008,AC00069,171.42,2023-05-08 17:47:59,Credit,Indianapolis,D000500,92.214.76.157,M020,Branch,Retired,291.0,1.0,2796.24,2024-11-04 08:10:55,Senior,1
8,TX000009,AC00135,106.23,2023-03-21 16:59:46,Credit,Detroit,D000690,24.148.92.177,M035,Branch,Engineer,86.0,1.0,9095.14,2024-11-04 08:11:14,Senior,4
9,TX000010,AC00385,815.96,2023-03-31 16:06:57,Debit,Nashville,D000199,32.169.88.41,M007,ATM,Doctor,120.0,1.0,1021.88,2024-11-04 08:06:32,Senior,0
10,TX000011,AC00150,17.78,2023-03-14 16:46:10,Credit,Albuquerque,D000205,213.15.9.253,M073,Online,Engineer,59.0,1.0,7599.52,2024-11-04 08:06:45,Senior,4
11,TX000012,AC00459,190.02,2023-02-06 17:30:00,Debit,Memphis,D000589,116.175.11.222,M030,Online,Student,173.0,1.0,1528.81,2024-11-04 08:07:12,Young Adult,2
12,TX000013,AC00392,494.52,2023-06-07 17:21:28,Credit,Mesa,D000032,210.98.198.143,M057,Branch,Student,111.0,1.0,1620.02,2024-11-04 08:08:38,Young Adult,3
13,TX000014,AC00264,781.76,2023-11-20 16:39:15,Debit,Memphis,D000054,193.83.0.183,M025,ATM,Student,123.0,1.0,189.69,2024-11-04 08:07:06,Young Adult,3
14,TX000015,AC00085,166.99,2023-02-13 16:53:57,Debit,Louisville,D000309,188.124.181.12,M017,Online,Student,134.0,1.0,299.93,2024-11-04 08:10:09,Young Adult,2
15,TX000016,AC00270,465.45,2023-12-12 16:23:31,Debit,Denver,D000466,221.169.49.152,M025,ATM,Engineer,129.0,1.0,3465.54,2024-11-04 08:12:19,Middle-Aged,2
16,TX000017,AC00317,555.80,2023-10-30 16:52:49,Credit,Austin,D000671,53.218.177.171,M048,Branch,Student,158.0,1.0,1131.26,2024-11-04 08:07:35,Young Adult,2
17,TX000018,AC00359,492.93,2023-12-14 18:32:14,Debit,Columbus,D000432,114.223.129.47,M059,Online,Engineer,234.0,1.0,5109.97,2024-11-04 08:11:51,Middle-Aged,4
18,TX000019,AC00242,18.68,2023-02-21 16:56:50,Credit,Albuquerque,D000530,93.218.115.132,M054,Branch,Retired,106.0,1.0,7948.37,2024-11-04 08:12:01,Senior,1
19,TX000020,AC00285,71.48,2023-06-08 18:18:50,Credit,Columbus,D000039,120.170.93.69,M039,Online,Student,169.0,1.0,6568.59,2024-11-04 08:09:20,Young Adult,2
20,TX000021,AC00002,59.32,2023-02-28 16:36:58,Debit,Los Angeles,D000152,116.44.12.250,M040,Branch,Retired,38.0,1.0,5750.89,2024-11-04 08:09:24,Senior,1
21,TX000022,AC00014,85.77,2023-08-11 18:31:31,Debit,Las Vegas,D000268,59.132.247.252,M065,Branch,Doctor,93.0,1.0,9146.19,2024-11-04 08:08:13,Middle-Aged,4
22,TX000023,AC00095,52.20,2023-06-06 18:54:15,Debit,Atlanta,NaN,133.63.96.21,M022,Online,Engineer,120.0,1.0,8974.93,2024-11-04 08:07:01,Middle-Aged,4
23,TX000024,AC00453,345.84,2023-05-02 18:25:46,Debit,Fort Worth,D000162,191.82.103.198,M083,Online,Student,142.0,3.0,1402.50,2024-11-04 08:07:04,Young Adult,2
24,TX000025,AC00241,145.54,2023-03-02 16:43:56,Debit,Raleigh,D000036,119.186.154.104,M028,Online,Student,96.0,1.0,1930.96,2024-11-04 08:07:09,Young Adult,3
25,TX000026,AC00041,7.49,2023-10-20 17:53:13,Credit,Houston,D000671,81.248.235.147,M043,Online,Retired,276.0,1.0,3634.67,2024-11-04 08:09:44,Senior,1
26,TX000027,AC00441,246.93,2023-04-17 16:37:01,Debit,Miami,D000046,55.154.161.250,M029,ATM,Student,158.0,5.0,673.35,2024-11-04 08:11:38,Young Adult,3
27,TX000028,AC00057,40.32,2023-03-29 16:42:38,Debit,Milwaukee,D000310,21.28.32.1,M008,Branch,Engineer,95.0,1.0,2686.52,2024-11-04 08:11:59,Middle-Aged,3
28,TX000029,AC00390,127.45,2023-01-24 16:18:32,Debit,Las Vegas,D000232,152.234.65.155,M092,Online,Doctor,197.0,1.0,1772.06,2024-11-04 08:11:22,Middle-Aged,4
29,TX000030,AC00313,56.17,2023-09-20 16:55:42,Debit,Detroit,D000297,33.28.138.82,M043,Branch,Student,283.0,1.0,1351.69,2024-11-04 08:08:30,Young Adult,2
30,TX000031,AC00367,28.31,2023-07-17 17:49:22,Credit,Miami,D000587,35.67.21.23,M091,Online,Doctor,20.0,1.0,8334.47,2024-11-04 08:09:17,Senior,0
31,TX000032,AC00291,59.12,2023-02-06 16:24:24,Debit,Baltimore,D000282,187.199.178.27,M053,ATM,Doctor,257.0,1.0,9823.64,2024-11-04 08:06:58,Young Adult,2
32,TX000033,AC00060,396.45,2023-09-25 16:26:00,Debit,New York,D000621,133.67.250.163,M007,ATM,Engineer,168.0,3.0,9690.15,2024-11-04 08:11:13,Middle-Aged,0
33,TX000034,AC00359,877.81,2023-03-13 17:23:24,Debit,Los Angeles,D000111,134.140.85.231,M094,Online,Student,150.0,1.0,399.00,2024-11-04 08:07:50,Young Adult,2
34,TX000035,AC00365,255.26,2023-10-27 16:42:49,Credit,San Francisco,D000357,92.214.76.157,M002,Branch,Doctor,50.0,1.0,14815.87,2024-11-04 08:10:51,Middle-Aged,0
35,TX000036,AC00267,124.76,2023-10-16 16:32:56,Debit,Seattle,D000042,59.145.242.13,M002,Branch,Engineer,45.0,1.0,5764.72,2024-11-04 08:06:23,Middle-Aged,0
36,TX000037,AC00404,78.13,2023-11-21 16:58:44,Debit,Milwaukee,D000250,33.28.138.82,M028,Branch,Student,145.0,1.0,900.61,2024-11-04 08:12:18,Young Adult,3
37,TX000038,AC00202,649.28,2023-03-02 17:53:32,Debit,San Jose,D000448,73.108.76.238,M074,ATM,Retired,137.0,1.0,4875.86,2024-11-04 08:11:15,Senior,0
38,TX000039,AC00478,795.31,2023-10-12 17:07:40,Debit,Mesa,D000077,49.29.37.185,M048,ATM,Doctor,90.0,2.0,7914.88,2024-11-04 08:11:17,Senior,0
39,TX000040,AC00405,335.63,2023-01-24 17:17:20,Debit,Oklahoma City,D000038,49.20.211.229,M040,Online,Retired,216.0,1.0,1019.39,2024-11-04 08:07:32,Senior,0
40,TX000041,AC00421,328.47,2023-07-31 18:39:50,Debit,San Antonio,D000557,6.234.101.35,M014,ATM,Retired,119.0,1.0,4323.66,2024-11-04 08:07:31,Senior,0
41,TX000042,AC00480,34.02,2023-01-09 16:13:21,Debit,Philadelphia,D000627,109.105.179.186,M046,Online,Doctor,19.0,1.0,14214.48,2024-11-04 08:11:45,Middle-Aged,3
42,TX000043,AC00120,241.42,2023-04-20 18:57:43,Credit,Charlotte,D000198,60.89.202.192,M044,Online,Doctor,116.0,1.0,13357.02,2024-11-04 08:09:03,Senior,4
43,TX000044,AC00117,55.32,2023-04-12 16:03:37,Debit,Tucson,D000197,173.135.78.201,M009,ATM,Student,117.0,1.0,241.79,2024-11-04 08:08:03,Young Adult,3
44,TX000045,AC00011,304.31,2023-07-26 16:52:28,Debit,Louisville,D000685,77.208.193.198,M005,Branch,Student,33.0,1.0,868.61,2024-11-04 08:09:53,Young Adult,2
45,NaN,AC00401,435.27,2023-10-04 17:49:29,Debit,Chicago,D000297,197.162.55.147,M051,Branch,Retired,90.0,1.0,4673.28,2024-11-04 08:11:12,Senior,1
46,TX000047,AC00282,164.49,2023-12-13 16:01:38,Debit,Baltimore,D000103,113.115.81.178,M070,Branch,Student,75.0,1.0,1509.27,2024-11-04 08:10:33,Young Adult,2
47,TX000048,AC00439,510.24,2023-10-09 16:29:40,Debit,Oklahoma City,D000397,186.135.2.148,M090,Online,Student,105.0,1.0,781.70,2024-11-04 08:11:35,Young Adult,3
48,TX000049,AC00296,626.90,2023-11-27 16:45:57,Debit,Denver,D000284,93.146.251.20,M023,Online,Student,138.0,1.0,265.51,2024-11-04 08:07:24,Young Adult,2
49,TX000050,AC00471,22.01,2023-03-27 16:45:18,Credit,Sacramento,NaN,124.6.134.78,M055,Online,Engineer,175.0,1.0,1335.09,2024-11-04 08:06:31,Middle-Aged,3

# **3. Data Splitting**
Tahap Data Splitting bertujuan untuk memisahkan dataset menjadi dua bagian: data latih (training set) dan data uji (test set).

In [6]:
# Menggunakan train_test_split() untuk melakukan pembagian dataset.
# Menggunakan train_test_split() untuk melakukan pembagian dataset.
X = df.drop('Target', axis=1)
y = df['Target']

# Mengubah fitur kategorikal menjadi numerik menggunakan one-hot encoding
X = pd.get_dummies(X, drop_first=True)

# Menggunakan train_test_split() untuk melakukan pembagian dataset.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

print("Dimensi Data Latih (X_train):", X_train.shape)
print("Dimensi Data Uji (X_test):", X_test.shape)
print("\n" + "="*50 + "\n")

Dimensi Data Latih (X_train): (1759, 7242)
Dimensi Data Uji (X_test): (754, 7242)

==================================================

# **4. Membangun Model Klasifikasi**
Setelah memilih algoritma klasifikasi yang sesuai, langkah selanjutnya adalah melatih model menggunakan data latih.

Berikut adalah rekomendasi tahapannya.
1. Menggunakan algoritma klasifikasi yaitu Decision Tree.
2. Latih model menggunakan data yang sudah dipisah.

In [7]:
# Buatlah model klasifikasi menggunakan Decision Tree
model_dt = DecisionTreeClassifier(random_state=42)

# Latih model
model_dt.fit(X_train, y_train)

# Evaluasi model Decision Tree
y_pred_dt = model_dt.predict(X_test)
print("Laporan Klasifikasi - Decision Tree (Baseline):")
print(classification_report(y_test, y_pred_dt))

Laporan Klasifikasi - Decision Tree (Baseline):
              precision    recall  f1-score   support

           0       0.85      0.84      0.84       164
           1       0.68      0.74      0.71       114
           2       0.85      0.73      0.79       156
           3       0.88      0.84      0.86       173
           4       0.51      0.59      0.55       147

    accuracy                           0.75       754
   macro avg       0.76      0.75      0.75       754
weighted avg       0.77      0.75      0.76       754

In [8]:
# Menyimpan Model
# import joblib
joblib.dump(model_dt, 'decision_tree_model.h5')
print("Model Decision Tree berhasil disimpan sebagai 'decision_tree_model.h5'")
print("\n" + "="*50 + "\n")

Model Decision Tree berhasil disimpan sebagai 'decision_tree_model.h5'

==================================================

# **5. Memenuhi Kriteria Skilled dan Advanced dalam Membangun Model Klasifikasi**

**Biarkan kosong jika tidak menerapkan kriteria skilled atau advanced**

In [9]:
# Melatih model menggunakan algoritma klasifikasi selain Decision Tree.

# Model 1: Random Forest
print("Melatih Model Random Forest...")
model_rf = RandomForestClassifier(random_state=42)
model_rf.fit(X_train, y_train)
y_pred_rf = model_rf.predict(X_test)

# Model 2: Logistic Regression
print("Melatih Model Logistic Regression...")
model_lr = LogisticRegression(random_state=42, max_iter=1000)
model_lr.fit(X_train, y_train)
y_pred_lr = model_lr.predict(X_test)
print("\n" + "="*50 + "\n")

Melatih Model Random Forest...
Melatih Model Logistic Regression...

==================================================

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [10]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada seluruh algoritma yang sudah dibuat.
print("Laporan Klasifikasi - Random Forest:")
print(classification_report(y_test, y_pred_rf))

print("Laporan Klasifikasi - Logistic Regression:")
print(classification_report(y_test, y_pred_lr))

Laporan Klasifikasi - Random Forest:
              precision    recall  f1-score   support

           0       0.87      0.90      0.88       164
           1       0.75      0.81      0.78       114
           2       0.96      0.67      0.79       156
           3       0.91      0.80      0.86       173
           4       0.56      0.77      0.65       147

    accuracy                           0.79       754
   macro avg       0.81      0.79      0.79       754
weighted avg       0.82      0.79      0.79       754

Laporan Klasifikasi - Logistic Regression:
              precision    recall  f1-score   support

           0       0.48      0.82      0.60       164
           1       0.88      0.12      0.22       114
           2       0.68      0.65      0.66       156
           3       0.70      0.61      0.65       173
           4       0.45      0.47      0.46       147

    accuracy                           0.56       754
   macro avg       0.64      0.54      0.52       754
weighted avg       0.62      0.56      0.54       754

In [11]:
# Menyimpan Model Selain Decision Tree
joblib.dump(model_rf, 'explore_RandomForest_classification.h5')
joblib.dump(model_lr, 'explore_LogisticRegression_classification.h5')
print("Model lain berhasil disimpan.")
print("\n" + "="*50 + "\n")

Model lain berhasil disimpan.

==================================================

Hyperparameter Tuning Model

Pilih salah satu algoritma yang ingin Anda tuning

In [12]:
# Lakukan Hyperparameter Tuning dan Latih ulang.
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Lakukan Hyperparameter Tuning dan Latih ulang.
print("Memulai Hyperparameter Tuning untuk Decision Tree...")
grid_search = GridSearchCV(estimator=DecisionTreeClassifier(random_state=42),
                           param_grid=param_grid,
                           cv=5,
                           n_jobs=-1,
                           verbose=1,
                           scoring='accuracy')

grid_search.fit(X_train, y_train)

# Dapatkan model terbaik
best_dt = grid_search.best_estimator_

print("\nParameter terbaik ditemukan:", grid_search.best_params_)
print("\n" + "="*50 + "\n")

Memulai Hyperparameter Tuning untuk Decision Tree...
Fitting 5 folds for each of 90 candidates, totalling 450 fits

Parameter terbaik ditemukan: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2}

==================================================

In [13]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada algoritma yang sudah dituning.
y_pred_tuned_dt = best_dt.predict(X_test)
print("Laporan Klasifikasi - Decision Tree (Setelah Tuning):")
print(classification_report(y_test, y_pred_tuned_dt))

Laporan Klasifikasi - Decision Tree (Setelah Tuning):
              precision    recall  f1-score   support

           0       0.84      0.84      0.84       164
           1       0.65      0.65      0.65       114
           2       0.82      0.71      0.76       156
           3       0.88      0.84      0.86       173
           4       0.45      0.54      0.50       147

    accuracy                           0.73       754
   macro avg       0.73      0.72      0.72       754
weighted avg       0.74      0.73      0.73       754

In [14]:
# Menyimpan Model hasil tuning
joblib.dump(best_dt, 'tuning_classification.h5')
print("Model hasil tuning berhasil disimpan sebagai 'tuning_classification.h5'")

Model hasil tuning berhasil disimpan sebagai 'tuning_classification.h5'